*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.main{
    display: flex;
    height: calc(90vh - 15px);
  }
  
  .main .search{
    width: 350px;
    background-color:aquamarine;
  
  }
  
  .main .content{
    width: 80%;
    background-color: antiquewhite;
  }